






<div class="container ">
<div class="row">

  <div class="col-xs-6 col-md-4">
  	<div class = "center" >
<h3>Contact Us</h3>
Simply Send us drop us any queries or Suggestions</br> by Email on Sentams.com@gmail.com
</br>
</br>
You can Also watsapp us on +256771803132
<!-- <p>Use the form below to drop us any queries or Suggestions.</p> -->
</div>
<% render 'form' %>
<% link_to 'Messages', clients_path %>
   
  </div>


  

  <div class="col-xs-6 col-md-4">
    <div class="thumbnail nnx">
     

      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/qbhrd496hmgqcjq/street.jpg" alt="">
        <div class="overlay">
                <h2>CONNECT WITH US</h2>
                <p class="icon-links">
                    <a href="#">
                        <span><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_30x30.png"></a></span>
                    </a>
                    <a href="#">
                        <span></span>
                    </a>
                    <a href="#">
                        <span><img alt="follow me on facebook" src="//login.create.net/images/icons/user/facebook_30x30.png"></span>
                    </a>
                </p>
            </div>

      

    </div>
  </div

  <div class="col-xs-6 col-md-4">

  	  	<div class = "center" >
<h3>Call Us</h3>
<p>Old-fashioned phone calls work too</p>
<p>+256 753 234900</p>
<p>+256 741 718911</p>

<br/>


   
  </div>
</div>
</div>





