<h2>Sentams.com</h2>
<p>Hi, welcome to Sentams.com the Home of Producers, Exporters and Importers all over the globe, our aim is to create a community and platform for small and large scale producers all over the world to be able to display their products and get exposure and market for their products on the global market free of charge</p>

<h3>Frequently asked Questions</h3>
</br>
<h3>How do i join Sentams.com ?</h3>

<p>
Simply click on the "Sign up and Sell" link in the Top right of the Navigation bar on top,fill in the essential details such as the email address and contacts buyers can use to reach you 
</p>


<div class="row">

  <div class="col-xs-12 col-md-12">
    <h4 class="center">All Items for Sale</h4>
    <div class="thumbnail nnnx">
      

      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/14d2xi8xxyytdnd/signup.jpg" alt="all items">

      <% link_to image_tag("") %>

    

    </div>
  </div>
  </div>


<h3>How Do i Sell or Advertise?</h3>
<p>Setting Up Your Shop and Selling<p>
	<p> Selling or advertising items on Sentams.com is as simple as clicking the "Sell or advertise" link on the nav bar, then simply fill in the details about your product or service, its category and then upload the image, then click the create listing button and you are finished </br>

<div class="row">

  <div class="col-xs-12 col-md-12">
    <h4 class="center">All Items for Sale</h4>
    <div class="thumbnail nnnx">
      
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/5cvj6gw5xmbjrvg/Sell.jpg" alt="all items">

      <% link_to image_tag("") %>

    

    </div>
  </div>
  </div>


<h3>Your Shop</h3>
	You can check the items for sale you have listed by going to your shop, simply click the "My Shop" link on the nav bar, it enlists all the items you have for sale and also shows your profile picture as well as your bio which can be more information either about you or your business</br>

<div class="row">

  <div class="col-xs-12 col-md-12">
    <h4 class="center">All Items for Sale</h4>
    <div class="thumbnail nnnx">
      
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/obcs96eymuquwtx/shop.jpg" alt="all items">

      <% link_to image_tag("") %>

    

    </div>
  </div>
  </div>

	You can add the bio and Profile pic by editing your user profile as seen below</p>

<div class="row">

  <div class="col-xs-12 col-md-12">
    <h4 class="center">All Items for Sale</h4>
    <div class="thumbnail nnnx">
         
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/f4ecq53btx4zd88/bio.jpg" alt="all items">

      <% link_to image_tag("") %>

    

    </div>
  </div>
  </div>


<h3>How do Buyers Reach Me</h3>
<p>When an interested buyer clicks on your item, it avails a send seller Message option and they can send you a message for more details</p>

<div class="row">

  <div class="col-xs-12 col-md-12">
    <h4 class="center">All Items for Sale</h4>
    <div class="thumbnail nnnx">
      
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/7aavgmktltrwwts/mess2.jpg" alt="all items">

      <% link_to image_tag("") %>

    

    </div>
  </div>
  </div>


<div class="row">

  <div class="col-xs-12 col-md-12">
    <h4 class="center">All Items for Sale</h4>
    <div class="thumbnail nnnx">
       
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/xyuau7t53hxk2wt/mess1.jpg" alt="all items">

      <% link_to image_tag("") %>

    

    </div>
  </div>
  </div>

  <p>When an interested buyer clicks on your item, it avails a send seller Message option and they can send you a message for more details you can see these messages by regulary checking your inbox by clicking the inbox link on the top navbar</p>

 <div class="row">

  <div class="col-xs-12 col-md-12">
    <h4 class="center">All Items for Sale</h4>
    <div class="thumbnail nnnx">
       
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/s6w6384vnrkc8pa/inbox.jpg" alt="all items">
 <% link_to image_tag("") %>

    

    </div>
  </div>
  </div>



<h3>Does Sentams.com Charge Me For Its Services</h3>
<p>No, Sentams.com is a free platform and doesnt charge for listing an item but all sales and commercial transactions are done off site and the website isnt responsible for dealings between buyers and sellers, we simply provide a platform to expose your products, Enjoy using our free service</p>

 <div class="row">

  <div class="col-xs-12 col-md-12">
    <h4 class="center">All Items for Sale</h4>
    <div class="thumbnail nnnx">
     
      <img class="img-responsive" src="https://dl.dropboxusercontent.com/s/xbl6gvu0bovdo8x/cat.jpg" alt="all items">

      <% link_to image_tag("") %>

    

    </div>
  </div>
  </div>