

<h1>   Categories</h1>


   <ul class="list-group">
    <% @categories.each do |category| %>
      
        <li class="list-group-item"><%= link_to category.name, category %></li>
        <% link_to 'Show', category %>
        <% link_to 'Edit', edit_category_path(category) %>
        <% link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>
  </ul>


  
<br>

<%= link_to 'New Category', new_category_path %>
